body{
    font-family: Arial, sans-serif;
    background-color: #ccc8c1;
    margin: 0;
    padding: 0;
    display:contents;
    justify-content: center;  
    align-items: center; 
    margin-top: 100px;
    padding-top: 120px;
}
.header{
background-color: #8c8270;
color: white;
padding: 10px 0;
text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
a {
    display: inline-block;
    padding: 10px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}


.center {
    text-align: center;
    margin-bottom: 20px;
}
.bot{
    text-align: center; 
    margin-bottom: 20 px;
    
}

#decBotReg{
    display:inline-block;
     padding:10px; background: #8cc0de; 
     color: white; 
     text-decoration: none; 
     border-radius: 5px;
}
#decBotEli{

    display:inline-block;
     padding:10px; background: #f4bfbf; 
     color: white; 
     text-decoration: none; 
     border-radius: 5px;
}
#decBotEdi{
    display:inline-block;
     padding:10px; background: #f2cea2; 
     color: rgb(0, 0, 0); 
     text-decoration: none; 
     border-radius: 5px;
}


button{
    display:inline-block;
     padding:10px; background:#8cc0de; 
     color: white; 
     text-decoration: none; 
     border-radius: 5px;
  }

  .form-container {
    display: contents;
    align-content: center;
    width: 400px;
    height: 100vh;
    max-width: 100%;
    margin: 0;    
    display: inline;
    justify-content: center;
    
  }
  .footer {
    background-color: #736a5a;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 100%;
    position:fixed; 
    bottom: 0;
    margin-top: 50px; 
}



p, h2{ 
    text-align: center;
    top: 0;
}
